$fontfamily:'Roboto';
$afont:'Roboto';
$wievport: 1260px;
$dark: #141414;

@mixin ibw() {
    text-align: center;
    font-size: 0;
        &>*{
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
        }
}
@mixin sec() {
    width: 100%;
    min-width: $wievport;
    overflow: hidden;
    position: relative;
    z-index: 2;
    //min-height: 600px;
    background-size: cover!important;
    &>div{
        max-width: $wievport;
        position: relative;
        z-index: 2;
        height: 100%;
        margin: 0 auto;
        // &>div{
        //     width: 100%;
        //     position: absolute;
        //     height: 600px;
        //     top: 50%;
        //     margin-top: -300px;
            
        // }
    }
}
*{margin:0;padding:0;box-sizing:border-box;background-position:center;background-repeat:no-repeat}
:after,:before{content:"";display:block;width:100%;height:0;clear:both}
sup:after,sup:before,a:after,a:before,br:after,br:before,img:after,img:before,span:after,span:before,table:after,table:before,td:after,td:before,tr:after,tr:before{content:none}
h1,h2,h3,h4,h5{font-size:1em;font-weight:inherit;text-align:center;font-family: $afont;font-weight: 300;letter-spacing: 0.01em}
body{font-family:$fontfamily,sans-serif;font-weight:400;color: $dark;}
a{text-decoration:none;color:inherit;outline:0!important}
button,input,textarea{outline: none;}
section,header,footer,.section{
    @include sec();
}

header{
    padding-top: 30px;
    height:112px;

    .logo{
        background-image: url(../img/logo.png);
        width: 60px;
        height: 82px;
        display: block;
        float: left;
        margin-left: 60px;  
    }
    h1{
        float: left;
        height: 25px;
        margin-top:51px;
        margin-left: 19px;
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: normal;
        border-right: 2px solid grey;
        padding-right: 2px;
        line-height: 24px;  
    }
    .page-status{
        float: left;
        height: 11px;
        margin-top:51px;
        margin-left: 2px;
        font-weight: 400; 
        text-transform: uppercase;
        font-size: 15px; 
        line-height: 24px;      

    }
    .right{
        float: right;
        margin-top: 51px;
        padding-right: 34px;
        .lang-link{
            text-transform: uppercase;
            float:right;
            font-size: 15px;
            font-weight: 900;
            text-align: center;
            margin-top: 5px;
            
            height: 13px;
            line-height: 13px;

            &.link1{
                width: 28px;   
            }
            &.link2{
                width: 31px;
                border-left: 1px solid black;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        .soc-link{
            width: 18px;
            height: 18px;
            border-radius: 100%;
            border:1px solid black;
            float:right;
            margin-right: 12px;
            background-color: white;
            transition:all 0.25s;
            margin-top: 3px;            
            &.link1{
                background-image: url();

            }
            &.link2{
                background-image: url();
                margin-right: 27px;
            }
            &:hover{
                background-color: grey;
            }

        }
    }
}
.section{

    nav {
        float: left;
        width: 120px;
        .menu{
            list-style: none;
            text-transform: uppercase;
            margin-top: 97px;
            height: 120px;
            color: #000000;
            font-size: 15px;
            font-weight: 800;
            li{
                text-align: right;;
                .menu-link{
                    line-height: 38px;
                    display: inline-block;
                    height: 38px;
                    padding-right: 10px;
                    width: 100%;
                    transition:all 0.25s;
                    border-right: 2px solid transparent;
                    &.active{
                        border-right: 2px solid black;

                    }
                    &:hover{

                        border-right: 2px solid grey;

                    }
                }

            }

        }



    }
    .slider{
        float:right;
        width: 1090px;
        margin-right: 30px;
        .viewport{
            height: 670px;
            background:black;
                    }
        
        
            }


        .nav-part{
            height: 40px;
            float:right;
            //margin-top: 11px;
            //margin-right: 9px;
            .right-arrow{
                background-image: url(../img/slider-arrow-right.png);
                display: block;
                margin-top: 7px;
                margin-right: 1px;
                width: 24px;
                height: 30px;
            }
            .left-arrow{
                background-image: url(../img/slider-arrow-left.png);
                display: block;
                margin-top: 7px;
                margin-right: 24px;
                width: 25px;
                height: 30px;

               
            }            
        }

            

           

    

}
#maket {
    position: absolute;
    top: 0px;
    left: -00px;
    width: 100%;
    background: url(../maket.jpg) no-repeat top center;
    height: 13200px;
    opacity: 0.5;
    z-index: 10;  
}