* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat; }

:after, :before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
  content: none; }

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.01em; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #141414; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

button, input, textarea {
  outline: none; }

section, header, footer, .section {
  width: 100%;
  min-width: 1260px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-size: cover !important; }
  section > div, header > div, footer > div, .section > div {
    max-width: 1260px;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0 auto; }

header {
  padding-top: 30px;
  height: 112px; }
  header .logo {
    background-image: url(../img/logo.png);
    width: 60px;
    height: 82px;
    display: block;
    float: left;
    margin-left: 60px; }
  header h1 {
    float: left;
    height: 25px;
    margin-top: 51px;
    margin-left: 19px;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: normal;
    border-right: 2px solid grey;
    padding-right: 2px;
    line-height: 24px; }
  header .page-status {
    float: left;
    height: 11px;
    margin-top: 51px;
    margin-left: 2px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px; }
  header .right {
    float: right;
    margin-top: 51px;
    padding-right: 34px; }
    header .right .lang-link {
      text-transform: uppercase;
      float: right;
      font-size: 15px;
      font-weight: 900;
      text-align: center;
      margin-top: 5px;
      height: 13px;
      line-height: 13px; }
      header .right .lang-link.link1 {
        width: 28px; }
      header .right .lang-link.link2 {
        width: 31px;
        border-left: 1px solid black; }
      header .right .lang-link:hover {
        text-decoration: underline; }
    header .right .soc-link {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      border: 1px solid black;
      float: right;
      margin-right: 12px;
      background-color: white;
      transition: all 0.25s;
      margin-top: 3px; }
      header .right .soc-link.link1 {
        background-image: url(); }
      header .right .soc-link.link2 {
        background-image: url();
        margin-right: 27px; }
      header .right .soc-link:hover {
        background-color: grey; }

.section nav {
  float: left;
  width: 120px; }
  .section nav .menu {
    list-style: none;
    text-transform: uppercase;
    margin-top: 97px;
    height: 120px;
    color: #000000;
    font-size: 15px;
    font-weight: 800; }
    .section nav .menu li {
      text-align: right; }
      .section nav .menu li .menu-link {
        line-height: 38px;
        display: inline-block;
        height: 38px;
        padding-right: 10px;
        width: 100%;
        transition: all 0.25s;
        border-right: 2px solid transparent; }
        .section nav .menu li .menu-link.active {
          border-right: 2px solid black; }
        .section nav .menu li .menu-link:hover {
          border-right: 2px solid grey; }

.section .slider {
  float: right;
  width: 1090px;
  margin-right: 30px; }
  .section .slider .viewport {
    height: 670px;
    background: black; }

#maket {
  position: absolute;
  top: 0px;
  left: -00px;
  width: 100%;
  background: url(../maket.jpg) no-repeat top center;
  height: 13200px;
  opacity: 0.5;
  z-index: 10; }

/*# sourceMappingURL=style.css.map */